.container-product{
    margin-bottom:30px; 
    margin-top:20px;
}
.dialog-items{
    display: flex ;
    align-items: center;
    margin-bottom: 10px;
}
.product-select{
    border: 1px solid lightgrey;
    flex: 1;
    font-size:17px;
    height:40px;
}