.actions {
    width: 150px !important; 
    background-color: #90C088 !important;
    color: white !important;
    height: 40px !important;
  }
  
.actions:hover{
    background-color: #D9D9D9 !important;
    color: white !important;
}

.quantity-input {
    height: 60px !important;
    width: 70px !important;
}


.img-product-table {
    width:100px;
    max-width: 150px;
    height: 80px;
    border-radius: 5%;
}

.img-accordion-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container-accordion{
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .img-accordion-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .container-accordion{
        margin-top: 50px;
    }
}