.org-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.product-image{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.center-org {
    display: flex;
    justify-content: center;
    
}
.flex-container {
    display: flex;
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 30px;
}

.center-img {
    margin-right: 10px; 
}
