.rounded-image {
    border-radius: 100%;
}

.center-org {
    display: flex;
    justify-content: center;
    
}
.flex-container {
    display: flex;
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 30px;
}

.center-img {
    margin-right: 10px; 
}