
html {
  scroll-behavior: smooth;
}

.hero-container {
    position: relative;
    width: 100%;
    height: calc(80vh - 74px);
    background-image: url('../assets/miscellaneous/hero.jpg');
    background-size: cover;
    background-position: center;
}

.paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto; 
}
.text-container{
  width: 200px;
}
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the container takes up full height */
}

.short-info{
  width: 500px;
  align-items: center;
  margin: auto;
}
.test{

  margin-top:40px;
  margin-bottom: 40px;
  text-align: center;
}

.grid-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Take up full height of the grid item */
  text-align: center;
}
.info{
  display: flex;
  flex-direction: row;
  background-color:#EDECEC;
  color: white;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.aboutus{
  display: flex;
  flex-direction: row;
  color: #90c088;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.extra_info{
  display: flex;
  flex-direction: row;
  background-color:#90C088;
  color: white;
  height: 1200px;
  align-items: center;
  justify-content: center;
  
}
.full-width{
  width: 100%;
  margin: 0 auto;
  text-align: -webkit-center;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.about-us{
  width : 500px;
  margin-left: 50px;
}

.image-midsection{
  width: 100px;
  height: 100px;
}

.aboutus-image{
  width: 600px;
  height: 400px;

}

.height-extra-info{
  height: 600px;
}




.extra-info-image{
  width:100%;
  height: 600px;
}

.extra-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width : 500px;
}

.desktop{
  display: block;
}
.mobile{
  display: none;
}


@media (max-width: 1000px) {
    .aboutus {
        flex-direction: column;
        height: 600px;
    }

    .info {
      flex-direction: column;
      height: 1000px;
    }

    .aboutus-image{
      display: flex;
      justify-content: center;
      width: 400px;
    }
    .about-container {
      margin-left: 0px;
      width : 400px;
    }
    .aboutus-image{
      width: 500px;
      height: 300px;
    }

    .extra_info {
      flex-direction: column; 
      height: 1070px;
    }
    .extra-info-container {
      margin-top: 20px;
      width : 300px;
    }
    .extra-info-image {
      width: 100%; 
      height: 300px; 
    }
    .height-extra-info{
      height: 200px;
    }

    .mobile{
      display: block;
      margin-top: 20px;
    }
    .desktop{
      display: none;
    }

}
@media (max-width: 500px) {
  .aboutus {
      flex-direction: column;
  }
  .info {
    flex-direction: column;
    height: 1000px;
  }
  .aboutus-image{
    display: flex;
    justify-content: center;
    width: 320px;
    height: 250px;
  }
  .about-container {
    margin-left: 0px;
    width : 350px;
  }
  .aboutus{
    height: 600px;
  }
  .short-info{
    width: 300px;
    align-items: center;
    margin: auto;
  }
}