.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button {
    width: 200px !important; 
    background-color: #D9D9D9 !important;
    color: white !important;
    height: 50px !important;
  }
  
  .button-left {
    border-radius: 44px 0px 0px 44px !important; 
  }
  
  .button-right {
    border-radius: 0px 44px 44px 0px !important;
  }
.button:hover{
    background-color: #90C088 !important;
    color: white !important;
}